<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.nadel.alfred.pins</string>
	<key>connections</key>
	<dict>
		<key>29FE8E28-6834-4FEC-AC57-26BE2C097FA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E00529-28FB-47AB-B063-270ECD91DF99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>361321FA-4559-474D-A840-C322741C4F8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B530577-97D6-4560-BA49-B0C405AED2F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55E00529-28FB-47AB-B063-270ECD91DF99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58AE9976-96DE-49E4-AAF4-26EDE604672C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CEE166A2-DA5A-490E-B639-0C6A1ECC6BBA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C39FDE93-7F8A-4DF0-B317-6019C21CFB44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B530577-97D6-4560-BA49-B0C405AED2F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5285D37-4758-4EE9-85B7-1C364E71D4D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>665937E4-4EF7-460A-A446-E2F97BA380C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B530577-97D6-4560-BA49-B0C405AED2F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Nadel</string>
	<key>description</key>
	<string>Search and open your Pinboard.in pins</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pins</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>fetch-bookmarks</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>58AE9976-96DE-49E4-AAF4-26EDE604672C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pins</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [ -f bookmarks.json ]; then
	cat bookmarks.json
else
	cat fetch.json
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search your Pins...</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>29FE8E28-6834-4FEC-AC57-26BE2C097FA2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pins://fetch</string>
						<key>outputlabel</key>
						<string>fetch</string>
						<key>uid</key>
						<string>CEE166A2-DA5A-490E-B639-0C6A1ECC6BBA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>55E00529-28FB-47AB-B063-270ECD91DF99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C39FDE93-7F8A-4DF0-B317-6019C21CFB44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pinfetch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Fetch your Pins</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>361321FA-4559-474D-A840-C322741C4F8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fetch</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D5285D37-4758-4EE9-85B7-1C364E71D4D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>DATE_FORMAT</key>
					<string>{var:date_format}</string>
					<key>PINBOARD_TOKEN</key>
					<string>{var:api_token}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5B530577-97D6-4560-BA49-B0C405AED2F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>fetch-bookmarks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>665937E4-4EF7-460A-A446-E2F97BA380C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>29FE8E28-6834-4FEC-AC57-26BE2C097FA2</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>361321FA-4559-474D-A840-C322741C4F8F</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>55E00529-28FB-47AB-B063-270ECD91DF99</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>58AE9976-96DE-49E4-AAF4-26EDE604672C</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>5B530577-97D6-4560-BA49-B0C405AED2F8</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>665937E4-4EF7-460A-A446-E2F97BA380C1</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>C39FDE93-7F8A-4DF0-B317-6019C21CFB44</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>D5285D37-4758-4EE9-85B7-1C364E71D4D7</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>user:api_key</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Available at https://pinboard.in/settings/password</string>
			<key>label</key>
			<string>API Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>%a %b %m %Y %-I:%M %p</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Format used for debug info (search bookmarks for #debug)</string>
			<key>label</key>
			<string>Debug info date format</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>date_format</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/mnadel/pins</string>
</dict>
</plist>
